.login-header {
    background-color: #9E9E9E;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

mat-card {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 500px;
    width: 100%;
}

mat-card-content {
    display: flex;
    flex-direction: column;
}

.email-field {
    margin-bottom: 18px;
    width: 100%;
}

.password-field {
    width: 100%;
}

button {
    font-size: 14px;
    font-weight: 900;
    width: 100%;
    color: black;
}
.button {
    height: 45px;
}
.button-google {
    margin-top: 15px;
    height: 45px;
}