mat-card {
    display: inline-flex;
    margin: 0.5% 0.5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 250px;
    background-color: #d3d3d3;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    &:hover {
        transition: all 0.3s ease-in-out;
        transform: translateY(-0.5rem);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
}
mat-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

mat-divider {
    margin: 0 auto;
    width: 150px;
}

mat-card-subtitle {
    margin-top: 0;
    margin-bottom: 5%;
}

.content {
    margin-top: 0%;
    margin-bottom: 10%;
}

.subtitle {
    margin-top: 10%;
    margin-bottom: 2%;
}

.areaName {
    font-size: 20px;
    font-weight: 900;
    margin: 1%;
    margin-bottom: 2%;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    width: 100%;
}