.login-header {
    background-color: #9E9E9E;
    color: white;
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

mat-card {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 500px;
    width: 100%;
}

mat-card-content {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    margin-bottom: 10px;
    width: 100%;
}

button {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 900;
    width: 100%;
    color: black;
}
.button {
    margin-top: 0;
    height: 45px;
}

.button-google {
    margin-top: 15px;
    height: 45px;
}

.bottom-field {
    margin-bottom: 0;
}

.error-message {
    background-color: red;
    color: white;
    font-size: 20px;
}