.container {
    width: 1200px;
    height: 800px;
}
.header {
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0%;
}

.title {
    position: absolute;
    left: 50%;
    top: 3%;
    transform: translate(-50%, -50%);
    font-size: 35px;
}

.close {
    font-size: 30px;
    margin-top: 2%;
    margin-left: 2%;
    cursor: pointer;
}

.sub-button {
    margin-top: 2.5%;
    margin-right: 2%;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    cursor: pointer;
}

mat-list {
    margin-bottom: 5%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10%;
}

mat-divider {
    width: 80%;
    margin: 0 auto;
}

.return-button {
    margin: 0 auto;
    width: 15%;
    height: 50px;
    font-size: 18px;
    font-weight: 900;
}

.content {
    margin: 5%;
}

.please-subscribe {
    margin: 0 auto;
    width: 80%;
    height: 50px;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    margin-top: 5%;
}

.no-actions {
    margin: 0 auto;
    width: 80%;
    height: 50px;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    margin-top: 5%;
}

.no-reactions {
    margin: 0 auto;
    width: 80%;
    height: 50px;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    margin-top: 5%;
}