<div class="container" *ngIf="$service | async as service">
    <div class="header">
        <mat-icon class="close" (click)="closeDialog()">close</mat-icon>
        <h1 class="title">{{service.name || 'Choose a Service'}}</h1>
        <button class="sub-button" mat-raised-button color="primary" *ngIf="!isSubscribed" (click)="subscribeToService()">S'ABONNER<mat-icon>add</mat-icon></button>
        <button class="sub-button" mat-raised-button color="warn" *ngIf="isSubscribed && service.subscribable" (click)="unsubscribeFromService()">SE DÉSABONNER<mat-icon>remove</mat-icon></button>
    </div>
    <div class="content" *ngIf="isSubscribed else pleaseSubscribe">
        <mat-divider></mat-divider>
        <h3>Actions</h3>
        <mat-list *ngIf="service.actions.length > 0 else noActions">
            <mat-list-item *ngFor="let action of service.actions">
                <span matListItemTitle>{{action.name}}</span>
                <span matListItemLine>{{action.description}}</span>
            </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <h3>Reactions</h3>
        <mat-list *ngIf="service.reactions.length > 0 else noReactions">
            <mat-list-item *ngFor="let reaction of service.reactions">
                <span matListItemTitle>{{reaction.name}}</span>
                <span matListItemLine>{{reaction.description}}</span>
            </mat-list-item>
        </mat-list>
    </div>
</div>

<ng-template #pleaseSubscribe>
    <div class="please-subscribe">
        <p>Vous devez vous abonner pour voir les actions/reactions de ce service</p>
    </div>
</ng-template>

<ng-template #noActions>
    <div class="no-actions">
        <p>Ce service ne propose aucune action.</p>
    </div>
</ng-template>

<ng-template #noReactions>
    <div class="no-reactions">
        <p>Ce service ne propose aucune reaction.</p>
    </div>
</ng-template>