version: '3.8'

services:
  dbcont:
    build: ./services/db
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data/
    environment:
      - PG_CONTAINER_NAME=dbcont
      - POSTGRES_USER=postgres_user
      - POSTGRES_PASSWORD=postgres_pass
      - POSTGRES_DB=area_db
      - POSTGRES_DATA=/var/lib/postgresql/data/
      
  servercont:
    depends_on:
      - dbcont
      - rediscont
    build: ./services/server
    command: python main.py run -h 0.0.0.0
    volumes:
      - ./services/server:/usr/src/app
    ports:
      - 8080:5000
    environment:
      - FLASK_APP=__init__.py
      - FLASK_ENV=development
      - SECRET_KEY=YOUR_SECRET_KEY
      - FLASK_RUN_PORT=5000
      - DATABASE_URL=postgresql://postgres_user:postgres_pass@dbcont:5432/area_db
      - REDIS_URL=redis://rediscont:6379
      - APP_FOLDER=/usr/src/app
      - SQL_HOST=dbcont
      - SQL_PORT=5432
      - DATABASE=area_db
      - MAIL_USERNAME=no.reply.area.epitech@gmail.com
      - MAIL_PASSWORD=YOUR_APP_PASSWORD
      - GITHUB_ID=YOUR_GITHUB_ID
      - GITHUB_SECRET=YOUR_GITHUB_SECRET
      - COINMARKETCAP_API_KEY=YOUR_API_KEY
      - COINAPI_KEY=YOUR_API_KEY
      - METALPRICE_API_KEY=YOUR_API_KEY
      - GOOGLE_ID=YOUR_GOOGLE_ID
      - GOOGLE_SECRET=YOUR_GOOGLE_SECRET
      - GOOGLE_DOCS_ID=YOUR_GOOGLE_DOCS_ID
      - GOOGLE_DOCS_SECRET=YOUR_GOOGLE_DOCS_SECRET
      - DROPBOX_ID=YOUR_DROPBOX_ID
      - DROPBOX_SECRET=YOUR_DROPBOX_SECRET
      - DISCORD_ID=YOUR_DISCORD_ID
      - DISCORD_SECRET=YOUR_DISCORD_SECRET
      - DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN
      - WEATHER_API_KEY=YOUR_WEATHER_API_KEY
      - SPOTIFY_ID=YOUR_SPOTIFY_ID
      - SPOTIFY_SECRET=YOUR_SPOTIFY_SECRET

  rediscont:
    image: redis:alpine
    ports:
      - 6379:6379

  webcont:
    depends_on:
      - servercont
    build: ./services/web
    ports:
      - 8081:80
    volumes:
      - ./services/web:/usr/src/app
    environment:
      - APP_FOLDER=/usr/src/app

volumes:
  pgdata:
    external: true
