.container {
    display: flex;
    align-items: center;
    height: 909px;
    justify-content: center;
    background: #a8a8a8;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

mat-card-header {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.part1 {
    margin: 0;
    padding: 0;
}
.part2 {
    margin: 0;
    padding: 0;
}
.part3 {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}



mat-card {
    background-color: rgba(255, 255, 255, 0.5);
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;

    .mat-card-title {
        font-size: 25px;
        font-weight: 600;
        text-align: center;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
    }

    .text-center {
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        padding-top: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .text-sub {
        text-align: center;
        opacity: 0.8;
    }

    button {
        // make sure that the button is at the bottom of the card
        margin-top: 25%;
        width: 275px;
        height: 50px;
        font-size: 20px;
        font-weight: bold;
        border-radius: 0.5rem;
    }
}