<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1 class="part1">Bienvenue sur Centralize</h1>
                <h1 class="part2">-</h1>
                <h1 class="part3">Votre outils d'automatisation de tâches</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="text-center">
                <strong>Centralize</strong>, c'est une plateforme qui vous permet de gérer vos projets et vos tâches de manière simple et
                efficace.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button class="button" mat-raised-button color="primary" routerLink="/register">
                CRÉER UN COMPTE
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>