.card {
    margin: 1% auto;
    width: 70%;
    height: 50%;
    padding: 1%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

mat-card-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.formField {
    width: 250px;
    margin: 1%;
}

.reactions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h2 {
    font-size: 30px;
    font-weight: 900;
    margin: 1%;
    margin-bottom: 0;
}

.submit-button {
    width: 15%;
    height: 50px;
    font-size: 18px;
    font-weight: 900;
}

.choose-button {
    width: 30%;
    height: 60px;
    font-size: 20px;
    font-weight: 900;
    margin-top: 0.5%;
}

.parameter_list {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

p {
    font-weight: light;
}

.bold {
    font-weight: bold;
}

.parameter {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0;
}