.container {
    width: 1000px;
    height: 600px;
}
.header {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 2%;
    margin-top: 5%;
}
mat-card-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

mat-form-field {
    width: 70%;
    margin-bottom: 1%;
    text-align: center;

}
.save-button {
    font-weight: bold;
}

mat-divider {
    width: 80%;
    margin: 0 auto;
}

.subtitle {
    font-size: 16px;
    margin-bottom: 1%;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2%;
}

mat-dialog-actions {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.no-param {
    margin: 0 auto;
    width: 80%;
    height: 50px;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
}