<div class="container" *ngIf="service$ | async as service">

    <div class="header">
        <h1>{{service.name || 'Choose a Service'}}</h1>
        <p>{{service.description}}
            <button mat-raised-button color="primary" *ngIf="!isSubscribed" (click)="subscribeToService()">S'ABONNER<mat-icon>add</mat-icon></button>
        </p>
        <mat-divider></mat-divider>
        <h3>Actions</h3>
    </div>
    <div *ngIf="isSubscribed else pleaseSubscribe">
        <mat-list *ngIf="service.actions.length > 0 else noActions">
            <mat-list-item *ngFor="let action of service.actions" (click)="onActionClick(action)">
                <span matListItemTitle>{{action.name}}</span>
                <span matListItemLine>{{action.description}}</span>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="footer">
        <mat-divider class="footer-divider"></mat-divider>
        <mat-dialog-actions>
            <button class="return-button" mat-raised-button color="primary" (click)="returnToServiceList()">RETOUR</button>
        </mat-dialog-actions>
    </div>
</div>

<ng-template #noActions>
    <div class="no-actions">
        <p>Ce service ne propose aucune action.</p>
    </div>
</ng-template>

<ng-template #pleaseSubscribe>
    <div class="please-subscribe">
        <p>Vous devez vous abonner à ce service pour pouvoir utiliser ses actions.</p>
    </div>
</ng-template>