.service_title {
    font-weight: 900;
    font-size: 30px;
    margin: 1%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}